<app-my-navbar>
<div class="div-cards">
    <button mat-button (click)="openDialog()">
    <mat-card>
        <mat-card-title>Users list</mat-card-title>
        <mat-card-content><p>Press here to consult, block or unblock users </p></mat-card-content>
    </mat-card>
    </button>
    <button mat-button (click)="openDialogue()">
    <mat-card>
        <mat-card-title>Users registration</mat-card-title>
        <mat-card-content><p>Press here to register new users </p></mat-card-content>
    </mat-card>
    </button>
</div>
